body {
	background-color: black;

}

.navbar-dark .navbar-nav .active>.nav-link:hover {
	background: white;
}


.navbar {
	padding-left: 0;
}

label {
	color: white;
}

#signup {
	color: white;
}